.backDrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50;
}

.modal {
    text-align: center;
    background-color: #fff;
    border-radius: 5;
    border: 3px solid black;
    display: block;
    margin: 25%;
    position: relative;
    z-index: 10;
    
}

button {
    display: block;
    position: relative;
    float: right;
    margin-right: 20px;
    
}
.footer {
    position: relative;
    bottom: 20;
    height: 50px;
}
