html, body {
  height: 100%;
}

body {
  background-image: url("./images/congruent_pentagon.png");
  font:normal 16px/1.6em 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  min-height: 100%;
  margin-bottom: -100px; 
  display: flex;
  flex-direction: column;
}

a, a:hover {
  color: #333333;
  text-decoration: none;
}

ul {
  list-style-type: none;
}