.messes {
  width: 960px;
  margin: 5px auto 5px auto;
  background-color: #eafdd3;
  border-radius: 5px;
  padding: 5px;
  border-style: solid;
  border-width: 2px 10px 4px 20px;
  border-color: red;
}

.resolvedMess {
  width: 960px;
  margin: 5px auto 5px auto;
  background-color: #aff6ca;
  border-radius: 5px;
  padding: 5px;
  border-style: solid;
  border-width: 2px 10px 4px 20px;
  border-color: #5cb174;
}

#messImage {
  float: right;
  width: 155px;
  height: 130px;
}