.messes {
  width: 960px;
  background-color: #eafdd3;
  border: 1px solid orange;
  margin: 10px auto 30px auto;
}

.resolvedMess {
  width: 960px;
  background-color: #aff6ca;
  border: 1px solid #5cb174;
  padding: 5px;
  margin: 10px auto 30px auto;
}

#messImage {
  float: right;
  width: 155px;
  height: 130px;
}