#header {
  width: 960px;
  height: 500px;
  margin: 20px auto 20px auto;
  text-align: center;
  position: relative;
  font-family:"Bungee Inline", cursive;
  border-style: solid;
  border-width: 2px 10px 4px 20px;
  border-color: #bdf8ce;
  background-size: cover;
  border-radius: 5px;
  z-index: 1;
}

#left {
  width: 595px;
  height: 495px;
  float: left;
  background-image: url("../../images/work_hand.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 5px 0 0 5px;
}

#right {
  width: 335px;
  height: 495px;
  float: right;
  background-image: url("../../images/hand_light.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 0 5px 5px 0;
}

#title {
  justify-content: center;
  font-size: 100px;
  color: #5cb174;
  text-shadow: 2px 2px #e4f77e;
  text-align: center; 
  position: absolute;
  top: 29%;
  left: 7%;
  z-index: 100;
}

